<h3 class="margin-h3">Hãy hỏi cộng đồng một câu hỏi đúng/ sai hoặc có/ không</h3>
<br>

<form class="form-group" action="/question/post" method="post">
  <textarea class="form-control" rows="5" type="text" name="newQuestion" placeholder="Input your question.."></textarea>
  <br>
  <button class="btn btn-primary btn-md" type="submit">Gửi</button>
</form>
