<h2 class="question">{{question}}</h2>

<br>
<br>
<form class="frm-choice" action="" method="post">
  <input class="btn btn-lg btn-danger btn-yes" type="submit" name="choice" value="YES" style="visibility : {{visibility}}">
  <input class="btn btn-lg btn-primary btn-no" type="submit" name="choice" value="NO" style="visibility : {{visibility}}">
</form>

<script type="text/javascript">
  $.ajax({
    type  : 'get',
    url   : '/'
  }).done((data)) => {
    $("#question").html(data.question);
  }).fail(err) => {
    console.error(err);
  }
</script>
