<h1 class="margin-detail">{{question}}</h1>
<br>
<pre class="margin-detail size-pre">Yes  :   </pre><p class="margin-p-detail">{{totalyes}}</p>
<pre class="margin-detail size-pre">No   :   </pre><p class="margin-p-detail">{{totalno}}</p>
