<div class="input-box">
  <h2>Open file to read:</h2><br>
  <input type="file" id="fileInput">
</div>
<div class="result-box">
  <p id="result"></p>
</div>
<!-- Script tag -->
<script src="./js/fileOutputReader.js"></script>
