body {
  font-family: Roboto, sans-serif;
  background: #f4f4f4;
  color: #757575;
  letter-spacing: 2px;
  padding-bottom: 60px;
  margin: 15px;
}

.menu-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu-li {
    float: left;
    border-right:1px solid #bbb;
}

.last-menu-li {
    border-right: none;
}

.menu-a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.question {
    text-align: center;
    font-size: 4em;
    color: #BF402F;
}

.margin-h3 {
  margin-left: 15px;
  margin-right: 15px;
}

.btn-yes {
  font-size: 2em;
  padding: 15px 32px;
  text-align: center;
  float: left;
  margin-left: 25px;
}

.btn-yes:hover {
  background-color: #BB0000;
  transition: 0.5s;
}

.btn-no {
  font-size: 2em;
  padding: 15px 32px;
  text-align: center;
  float: right;
  margin-right: 25px;
}

.btn-no:hover {
  background-color: #333333;
  transition: 0.5s;
}

.margin-detail {
  margin-left: 20px;
}

.margin-p-detail {
  margin-left: 35px;
  color: #000000;
  font-weight: bold;
}

.size-pre {
  font-size: 20px;
}
