/* tag selector */
p {
  color: red;
}
h1 {
  background: yellow;
}
/* class selector */
.underlined-text {
  text-decoration: underline;
}
.bold-text {
  font-weight: bold;
}
/* id selector */
#top {
  font-family: "Comic Sans MS";
}
/* attribute selector */
[href] {
  color: pink;
}
[href="#top"]{
  font-size: 24px;
}

/* child selector */
ul li {
  list-style: square;
}

/* direct child selector */
ul > li{
  color: deepskyblue;
  list-style: upper-alpha;
}

li:last-child{
  font-style: italic;
}


nav:hover{
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

a:active{
  color: brown;
}

input:focus{
  border: 1px dashed  red;
}
